.newResidenceForm {
  width: 20%;
  top: 0;
  height: 100%;
  position: fixed;
  z-index: 1;
  right: 0;
  overflow-x: hidden;
  transition: 2s;
}
.newResidenceForm.closed {
  height: 0%;
  transition: 2s;
}

.newResidenceForm p {
  padding: 5px;
  color: black;
}

.newBookResidence {
  background: orange;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 95%;
  border-style: ridge;
  border-color: red;
  border-width: 14px;
}
