.residencesHeader {
  border: 2px solid white;
}

/* .residencesBody {
  border: 4px solid green;
} */

/* .headerAndButton {
  display: inline;
} */

.residenceImage {
  height: 150px;
  width: 200px;
}
.residencesColumn {
  background: lightgray;
  color: black;
  font-family: Josefin Slab;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  border: 1px solid black;
  margin: 10px;

  padding: 2px 5px;
  border-radius: 10px;
  box-shadow: 2px 2px black;
}
a:link {
  font-weight: bold;
}
