@import url(http://fonts.googleapis.com/css?family=Josefin+Slab);

body,
html {
  background: #eceae0;
}
.newShelter {
  background: rgb(65, 88, 107);
  height: 700px;
  width: 400px;
  display: flex;
  border: 4px solid white;
  margin: auto;
  padding: 2px 5px;
  border-radius: 30px;
  box-shadow: 7px 7px rgb(100, 40, 40);
  background: rgb(222, 231, 240);
  color: black;
  font-family: Josefin Slab;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.colformS {
  margin: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* .items {
  display: flex;
} */
h2 {
  font-family: Josefin Slab;
  font-size: 72px;
  text-align: center;
}

button:hover {
  background: red;
}
button {
  background: #4479ba;
  color: #fff;
  font-family: Josefin Slab;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  border: 1px solid black;
  margin: 10px;
  padding: 2px 5px;
  border-radius: 10px;
  box-shadow: 2px 2px black;
}
